*{
    font-family: monospace;
}

main{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 45vh;
    border: 12px solid black;
}

#display{
    display: flex;
    justify-content: end;
    align-items: center;
    border: 6px solid black;
    background-color: #b2b9b7;
    font-size: 6rem;
    padding: 6px;
}

.row-item{
    display: flex;
    flex: 1;
}

.column-item{
    flex: 1;
    border: 2px solid black;
    font-size: 2.5rem;
}

#clear{
    background-color: dodgerblue;
}

#equals{
    background-color: dodgerblue;
}

.operand{
    background-color: #217C7E;
}

.operator{
    background-color: #FF8F1F;
}

